<!DOCTYPE html>
<html lang="en">
<head>
<title>Countries of Orgin</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Bootstrap JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- d3 and Datamaps JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="//datamaps.github.io/scripts/0.4.4/datamaps.world.min.js"></script>

</head>
<body>
 
<div class="container">
<h3><center>Countries of Orgin for English Premier League Players</center></h3>
<!-- This container will have our map -->
<div id="container" style="position: relative; width: 800px; height: 480px;"></div>
 
<div align="right"><h5>Player Appearances in English Primier League by Nationality</h5>
<p>Source: EPL data</p></div>

</div>
<div class = "entry">
  <center><i><h5>Please enter a country to see players:</h5></i>

  <form action="/players" method="POST">
  <input type="text" name="country"><br>
  <input type="submit" value="submit">
  <input type="reset" value = "erase">
  </form></center>
  <div id="entry" style="position: center; width: 400px; height: 300px;"></div>

</div>
<div id="footer">
    {% block footer %}
    &copy; 2016 Zoe Olson and Kyle Holmberg
    {% endblock %}
</div>
</body>

</html>
<script>
//convert the Python DataFrame to JSON
var data={{table.to_json(orient ='records') |safe}}
//create an empty object for Datamap
//Datamap expects data in format:
// { "USA": { "fillColor": "#42a844", numberOfWhatever: 75},
// "FRA": { "fillColor": "#8dc386", numberOfWhatever: 43 } }
var dataToMap = {};
 
//pick some values for the color scale range
var maxValue = 20000;
var minValue = d3.min(data, function(d) { return +d.mins_played;} );
 
//create color palette function
var paletteScale = d3.scale.linear()
.domain([minValue,maxValue])
.range(["#d7d7f4", "#02386F"]); // blue color
 
//our data does not have the 3 letter ISO code
//so we try to get it by matching the country name
var ctr = Datamap.prototype.worldTopo.objects.world.geometries;
data.forEach(function(d){ //
var iso = "";
for (var i = 0, j = ctr.length; i < j; i++) {
if (ctr[i].properties.name.startsWith(d.nationality)){
iso=ctr[i].id};
}
//fill dataset in appropriate format
var value = d.mins_played;
dataToMap[iso] = { mins_played: value, fillColor: paletteScale(value) };
});
//render map
var map = new Datamap({element: document.getElementById('container'),fills: { defaultFill: '#F5F5F5' },
data: dataToMap});

</script>




