{% extends "layout.html" %}

{% block title %}Players{% endblock %}

<!-- Header -->
{% block header %}

  <h2>Zoe Olson</h2>

{% endblock %}

<!-- Content -->
{% block content %}

  <i>Players</i>
  <br>
  <br>
  {% for entry in entries %}
    player #: <b>{{ entry.name }}</b>
    <small>was born in {{ entry.nationality |safe }}</small>
    <br>

  {% else %}
    <em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  {{ entries|length }} English Premier League players are from <b>{{ entries[1].nationality }}</b>
  <br>
  <br>

{% endblock %}