{% extends "layout.html" %}

{% block title %}Goal Metrics{% endblock %}

<!-- Header -->
{% block header %}



{% endblock %}

<!-- Content -->
{% block content %}

  
  <br>
  <br>
    {{ entries|length }} Premier League players are from <b>{{ user_input }}</b><br>
  {% for entry in entries %}
      <b>{{ entry.name }}</b>
    <small>was born in {{ entry.nationality |safe }}</small>
    <br>

  {% else %}
    <em>Please check your spelling or enter a new country.</em>
  {% endfor %}


  <br>
  <br>

{% endblock %}